server:
  port: 9090
  servlet:
    context-path: /api

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/esempla
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  liquibase:
    enabled: true
  servlet:
    multipart:
      max-file-size: 2MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: stefanstaci1@gmail.com
    password: \
    properties:
      mail:
        from: stefanstaci1@gmail.com
        smtp:
          starttls:
            auth: true
            enable: true
    test-connection: on

application:
  security:
    jwt:
      secret-key: 77397A24432646294A404E635266556A586E3272357538782F4125442A472D4B
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days
  minio:
    bucket:
      name: test
    access:
      key: minioadmin
      secret: minioadmin
    url: http://127.0.0.1:9000
